fastapi
pydantic
langchain
langchain-community
langchain-core
langchain-openai
duckduckgo-search
requests
tavily-python
python-dotenv
langchainhub

beautifulsoup4
readability-lxml
trafilatura
requests
lxml
rich

